body {
background-color:#DC143C;
color:#000;
}

h1 {
font-size:30px;
font-family:sans-serif;
}

h5 {
font-size:22px;
}

#searchbar {
width:260px;
max-height:500px;
border:solid 2px #000;
overflow:hidden;
}

.main-nav {
position:absolute;
color:#000;
text-align:left;
font-size:22px;
}

li {
cursor:pointer;
color:#000;
margin:.5em 0;
}

li:hover {
color:#FFF;
}

#map {
width:100%;
height:85vh;
top:0;
bottom:0;
}